.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 100px);
}


.loginContainer{
    width: 900px;
    height: 450px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;

    display: flex;
}

.loginImageDiv{
  width: 550px;
  height: 100%;
  background-color: rgb(0,22,40);
  border-radius: 20px 0px 0px 20px;
}

.logintitle{
  font-weight: 500;
  font-size: 27px;
}

.signInbtn{
  width: 100%;
  border:none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  background-color: #FDC886;
  cursor: pointer;
}

.login_forgot{
  font-size: 13px;
  margin-bottom: 20px;
  cursor: pointer;
  align-self: flex-end;
  /* transition: all 1s ease-in; */
}

.login_forgot:hover{
  font-weight: 500;
}

.menubar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.menubar::-webkit-scrollbar {
  display: none;
}